# Auto detect text files and perform LF normalization
* text=auto

Assets/Economic[[:space:]]GameMusic[[:space:]]Bundle/**/*.wav filter=lfs diff=lfs merge=lfs -text
Assets/Economic[[:space:]]GameMusic[[:space:]]Bundle/**/*.mp3 filter=lfs diff=lfs merge=lfs -text
